*.gbr
*.bak*
*-
*~
*.zip
*.xy
*.cnc
*.csv
*.dk
*.bom
*.drc
*.net
*.ps
*.pdf
*.unsorted
*.cmd
partslist
micropeak.gbl
micropeak.gbo
micropeak.gbp
micropeak.gbs
micropeak.gml
micropeak.gtl
micropeak.gto
micropeak.gtp
micropeak.gts
